

.reelsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    top:0;
    left:0;
    height:100%;
    width:100%;
    max-width: 600px;
}

.allIconContainer{
    display: flex;
    position: absolute;
    z-index: 2;
    flex-direction: column;
    bottom: 15%;
    right: 0;
    justify-content: space-evenly;
}



.videoContainer{
    position: relative;
    top:0;
    left:0;
    height:100%
}


.icons{
    font-size:3rem;
    cursor: pointer;
}

.active{
    color:blueviolet
}

.videoDescription{
    position:absolute;
    bottom:5%;
    left:0;
    margin:0.8rem;
    text-align: left;
    z-index: 2;
}

.iconContainer{
    margin-bottom: 2rem;
    line-height: 1rem;
    text-align: center;
    color:white;
    filter: drop-shadow(0 0 0.75px rgba(0,0,0,.42)) drop-shadow(0 1px 0.5px rgba(0,0,0,.18)) drop-shadow(0 2px 3px rgba(0,0,0,.2));
}

.description{
    color:white;
    font-size: 1.5rem;
    margin-top:1rem;
}


.videoBackdrop{
    position: absolute;
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
    align-items: center;
}

.playAndPause{
    display: none;
    font-size: 5rem;
    color:white;
    filter: drop-shadow(0 0 0.75px rgba(0,0,0,.42)) drop-shadow(0 1px 0.5px rgba(0,0,0,.18)) drop-shadow(0 2px 3px rgba(0,0,0,.2));
}

.show{
    display: inline-block;
}

@media screen and (min-width:426px){
    .iconContainer{
        right: 5%;
    }
    
}